@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<Skill>

<div class="container col-md-offset-2">
    <div class="row">
        <div class="col">
            <div class="panel justify-content-center">
                <div class="panel-header text-center">
                    <h2>List of Skills</h2>
                    <hr />
                </div>
                <div class="panel-body">
                    <a asp-controller="Skill" asp-action="Create" class="btn btn-info mt-2">+ Create</a>
                    <table cellpadding="5" class="table-responsive table-striped mt-2 p-3 text-center" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Skill Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="15%">
                                        @item.SkillId
                                    </td>
                                    <td width="35%">
                                        @item.SkillName
                                    </td>
                                    <td width="40%">
                                        <a asp-controller="Skill" asp-action="Update" asp-route-id="@item.SkillId" class="btn btn-info">Edit</a>
                                        <a asp-controller="Skill" asp-action="Delete" asp-route-id="@item.SkillId" onclick="return confirm('Are you sure to delete the Skill')"
                                           class="btn btn-danger">Delete</a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
